---
const { title, skills } = Astro.props;
---

<div class="mb-3">
  <div class="text-xl w-full font-bold">{title}</div>
</div>
<ul class="list-disc md:columns-5 columns-2 mb-4 mx-6">
  {skills.map((skill) => <li>{skill}</li>)}
</ul>
