---
import BaseLayout from "@layouts/BaseLayout.astro";
import ContactForm from "@components/ContactForm.astro";
---

<BaseLayout title="Contact" sideBarActiveItemID="contact">
  <div class="flex justify-center items-center min-h-[calc(100vh-200px)]">
    <div class="w-full">
      <ContactForm />
    </div>
  </div>
</BaseLayout>
