---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import SkillSection from "../components/cv/SkillSection.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div
    class="mb-5 flex flex-col gap-8 sm:flex-row justify-between items-center sm:items-start"
  >
    <div>
      <div class="hidden sm:block text-5xl font-bold">Pedro Castro</div>
      <a
        href="https://www.linkedin.com/in/peucastro"
        target="_blank"
        class="flex items-center gap-2 mt-2"
        aria-label="LinkedIn"
        title="LinkedIn"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: currentColor"
        >
          <path
            d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM8.339 18.337H5.667v-8.59h2.672v8.59zM7.003 8.574a1.548 1.548 0 1 1 0-3.096 1.548 1.548 0 0 1 0 3.096zm11.335 9.763h-2.669V14.16c0-.996-.018-2.277-1.388-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248h-2.667v-8.59h2.56v1.174h.037c.355-.675 1.227-1.387 2.524-1.387 2.704 0 3.203 1.778 3.203 4.092v4.71z"
          ></path>
        </svg>
        <p class="text-md">linkedin.com/in/peucastro</p>
      </a>
    </div>
    <img class="rounded-full max-w-32 h-fit" src="profile-cv.jpg" />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Informatics and Computing B.E. student at FEUP with a strong interest in
    problem-solving and algorithm design. Passionate about learning new
    technologies and contributing to projects. Open-source supporter.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor in Informatics and Computing Engineering"
      subtitle="2022 to Present at Faculty of Engineering of the University of Porto, Porto, Portugal"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Member"
      subtitle="From Oct 2024 to Present at NIAEFEUP, Porto, Portugal"
    >
      <ul class="list-disc text-sm ml-6 space-y-2">
        <li>
          Developing a mobile app in Flutter made for students to help them
          organize their academic life and schedule.
        </li>
        <li>
          Developer of the College Student's Association website using Svelte,
          Tailwind CSS, Kotlin and Spring Boot.
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <SkillSection
    title="Languages"
    skills={[
      "C/C++",
      "RISC-V Assembly",
      "Java",
      "Python",
      "SQL",
      "HTML",
      "CSS",
      "JavaScript",
      "Dart",
    ]}
  />
  <SkillSection
    title="Software Development"
    skills={[
      "Object-Oriented Programming",
      "Software Architecture",
      "Design Patterns",
      "Refactoring",
      "Unit Testing",
      "Debugging",
      "Linux",
      "Git",
    ]}
  />
  <SkillSection
    title="Algorithms and Data Structures"
    skills={["Algorithm Analysis", "Algorithm Design", "Graph Algorithm"]}
  />
  <SkillSection
    title="Databases and Data Analysis"
    skills={[
      "SQLite",
      "PostgreSQL",
      "MySQL",
      "Pandas",
      "Relational Algebra",
      "Database Design",
    ]}
  />
</BaseLayout>
